<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712635131057-aac2gk2mdu2t0ufir72sq6re4j3st4rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712635131057-aac2gk2mdu2t0ufir72sq6re4j3st4rs</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>712635131057-pd4l7c0tjt6dler137ba66bu0rhcsis3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDBhW2lf5huMfJIdO9KYP9jMCKI8B-0p5k</string>
	<key>GCM_SENDER_ID</key>
	<string>712635131057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.panee.hypertrip</string>
	<key>PROJECT_ID</key>
	<string>travel-378415</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-378415.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712635131057:ios:946889a9437dd83201ae90</string>
	<key>DATABASE_URL</key>
	<string>https://travel-378415-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>